@charset "UFT-8";
*{
    border: 0px;
    padding: 0px;
}
body {
    background-color: rgb(146, 193, 177);
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
button {
    width: 80px;

}
div {
    text-align: center;
}